.carousel-root {
  margin: 0;
  width: 95vw;
  max-height: 90vh;
}

.carousel .slide img {
  max-height: 60vh;
  width: 100%;
  object-fit: scale-down;
}

.control-arrow {
  display: none;
}

.thumbs-wrapper {
  overflow: scroll !important;
  padding-inline-start: 10px !important;
  padding-inline-end: 10px !important;
}

.thumbs-wrapper ul {
  padding-inline-start: 0 !important;
}

.thumb {
  width: auto !important;
}

.thumbs img {
  height: 100px;
  width: auto;
}